.u-section-1 .u-sheet-1 {
  min-height: 509px;
}

.u-section-1 .u-image-1 {
  width: 571px;
  height: 401px;
  margin: 30px auto 0;
}

.u-section-1 .u-text-1 {
  font-style: italic;
  background-image: none;
  margin: 13px auto 43px;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 487px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 379px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 347px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 239px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 120px;
}

.u-section-2 .u-gallery-1 {
  height: 100px;
  margin: 10px auto;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
}

.u-section-2 .u-gallery-item-1 {
  margin-right: 10px;
  --effect-scale: 1.75;
}

.u-section-2 .u-back-image-1 {
  width: 100px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-2 {
  margin-right: 10px;
  --effect-scale: 1.75;
}

.u-section-2 .u-back-image-2 {
  width: 100px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-3 {
  margin-right: 10px;
  --effect-scale: 1.75;
}

.u-section-2 .u-back-image-3 {
  width: 100px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-4 {
  margin-right: 10px;
  --effect-scale: 1.75;
}

.u-section-2 .u-back-image-4 {
  width: 100px;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-5 {
  margin-right: 10px;
  --effect-scale: 1.75;
}

.u-section-2 .u-back-image-5 {
  width: 100px;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-6 {
  margin-right: 10px;
  --effect-scale: 1.75;
}

.u-section-2 .u-back-image-6 {
  width: 100px;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 200px;
  width: 40px;
  height: 40px;
  background-image: none;
  top: 30px;
  padding: 8px;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  background-image: none;
  left: auto;
  top: 30px;
  right: 200px;
  padding: 8px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-gallery-1 {
    margin-top: 411px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 119px;
  }

  .u-section-2 .u-gallery-1 {
    margin-top: 10px;
    margin-right: initial;
    margin-left: initial;
  }
}